footer {
	width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  font-size: 12px;
	background-color: #282c34;
	color: white;
}

.hat-icon-footer {
	display: flex;
	flex-direction: row;
	color: gold;
	font-size: 8rem;
	margin-left: 1rem;
	padding-bottom: 2rem;
}

.footer__col1 {
	padding-left: 2rem;
	flex: 2;
	display: flex;
}

.hat-icon-footer {
	margin: 1rem;
}

.footer__col3 {
	flex: 1;
}

.description-footer {
	margin-top: 1rem;
}

.link {
	font-size: 3rem;
	color: #fff;
}

.link:hover {
	color: gold;
}

@media (max-width: 800px) {
	footer {
		width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  color: rgba(255, 255, 255, 0.3);
  font-size: 12px;
		background-color: #282c34;
		color: white;
		
	}

	.footer__col1 {
		padding-left: 2rem;
		flex: 2;
	}

	.footer__col3 {
		flex: 1;
	}

	.link {
		display: flex;
		color: #fff;
		justify-content: space-evenly;
		padding: 1rem;
	}
	.link:hover {
		color: gold;
	}
}
